.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}