.map_component_wrapper {
  width: 480px;
  height: 480px;
  border: 2px solid #000;
}

.leaflet-marker-pane .leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-control .fullscreen-icon {
  background-image: url("https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/fullscreen.png");
  background-position: top;
}